@import "initial_setup";
@import "variables";
@import "mixins";


.main {
    @include flexCentCol_100x100;
    .title {
        margin: 5% 0;
        color: rgb(33, 29, 75);
    }
    .input_btn_wrapper {
        border: 3px solid green;

        margin-top: auto;
        .input-task {
            @include btnAndInput;
            border: 2px solid lightgray;
            width: 400px;
            &:focus {
                outline: none;
            }
        }
        .add-btn{
            @include btnAndInput;
            border: none;
            background-color: rgba(22, 97, 89, 0.261);
            &:active, &:focus, &:hover{
                outline: none;
                background-color: rgb(8, 92, 90) ;
                color: white;
            }
        }
    }
    .task-list{
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border:  3px solid red;

        .task-item{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border: 2px solid lightgray;

            .task-check-c{
                border: 2px solid lightgray;
                width: 15px;
                height: 15px;
            }
            .trash-btn{
                background: url('../images/trash-can.png');
                background-size: contain;
                width: 30px;
                height: 30px; 
                border: none;
                margin-left: auto;
            }
            .task-text-c{
                background-color: $myBgColor;
                width: 100%;
                border: none;
                padding: 7px;
                &:active, &:focus{
                    outline: none;
                }
            }
        }
    }
}